



#cont3 {
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
}
#cont4 {
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;




}
#cont5 {
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;




}
#cont6 {
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;




}
#cont7 {
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;




}
#box1 {
    color:black;
    width: 400px ;
    height: 380px;

}
#box2 {
    color:black;
    width: 400px ;
    height: 380px;

}
#box3{
    color:black;
    width: 400px ;
    height: 380px;


}



#p4{
    margin-top: 30px;
    font-size: 60px;
    
}
#intro{
    
    font-size: 30px;
}
#chap15{
    font-size: 20;

}

#p8 {
    margin-top: 30px;
    font-size: 60px;
    
}
#p5{
    font-size: 30px;
}
 
#p9{
    margin-top: 30px;
    font-size: 60px;
    
}
#p10{ font-size: 30px;

}
body {background-color:white;}
*{
    padding: 0;
    margin: 0;
    
}

#navbar{
    height: 80px;
    background-color: #FF5B22;
   
}
#logo{
    font-size: 75px;
    color:#FECDA6;
    margin-right: 600px;
}
#home{
    color:white;
        font-size: 35px;
        margin-right: 25px;
}
#module{color:white;
    font-size: 35px;
    margin-right: 25px;
}
#jounier{color:white;
    font-size:35px ;
    margin-right:25px ;
}
#conus{color:white;
    font-size:35px ;
    margin-right:25px ;

}
#cont1{
    height: 300px;
    display: flex;
    flex-direction: row;
}
#stockwidthree{
    margin-right: 50px; 
    height: 500px;
    width: 880px;
    
    display: inline-block;}




#mod1{
    
    display:  flex;
    font-size: 180px;
    margin-right: 50px;
}

#box3{
    margin-left: 30px;
}