

body {background-color:white;}
*{
    padding: 0;
    margin: 0;
    
}

#navbar{
    height: 80px;
    background-color: #FF5B22;
   
}
#logo{
    font-size: 75px;
    color:#FECDA6;
    margin-right: 600px;
}
#home{
    color:white;
        font-size: 35px;
        margin-right: 25px;
}
#module{color:white;
    font-size: 35px;
    margin-right: 25px;
}
#jounier{color:white;
    font-size:35px ;
    margin-right:25px ;
}
#conus{color:white;
    font-size:35px ;
    margin-right:25px ;

}



#d1{
    text-align: center;
}

#p1{
    margin-right: 1200px;
    font-size: 80px;
    color: #61A3BA;
}
#p2{
    margin-right: 1200px;
    font-size: 30px;
    color: #61A3BA;
}  
#d2{
    margin-left: 30px;
    color: #3D30A2;
}
#p3{
    font-size: 30px;
    
}
#p4{
    font-size: 24px;
    margin-left: 30px;
}

#d3{
    margin-left: 30px;
    color: #3D30A2;
}
#p5{
    font-size: 30px;
}
#p6{
    font-size: 24px;
    margin-left: 30px;
}